* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #EEEEEE;
    border: 2px solid #003E1F;
    border-radius: 8px;
  }
  
  .container h2 {
    text-align: center;
    color: #003E1F;
    margin-bottom: 20px;
  }
  
  .add-recipe-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-recipe-form label {
    margin-top: 1rem;
    color: #003E1F;
    font-weight: bold;
  }
  
  .add-recipe-form input[type="text"],
  .add-recipe-form select,
  .add-recipe-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #003E1F;
    border-radius: 4px;
  }
  
  .add-recipe-form .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #003E1F;
    border-radius: 8px;
    background-color: white;
    margin-top: 0.5rem;
    padding-bottom: 40px;
  }
  
  .add-recipe-form .image-upload input[type="file"] {
    display: none;
  }
  
  .add-recipe-form .image-upload span {
    color: #003E1F;
    cursor: pointer;
  }
  
  .add-recipe-form .action-button {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .action-button button {
    color: white;
    background-color: #003E1F;
    width: 150px;
    border-radius: 20px;
    border: none;
    height: 40px;
    cursor: pointer;
  }
  
  .action-button button:hover {
    color: #003E1F;
    background-color: #EEEEEE;
    border: 1px solid #003E1F;
  }
  