body {
    margin: 0;
    padding: 0;
    font-family: 'Jacques Francois', serif;
}

.Signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.Signup-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #003E1F;
    border-radius: 8px;
}

.Signup-form {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Signup-form h2 {
    text-align: center;
    color: #003E1F;
}

.Signup-form label {
    margin-top: 1rem;
    color: #003E1F;
}

.Signup-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #003E1F;
    border-radius: 4px;
}

.policy-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust spacing between elements */
    margin-top: 12px;
  }
  
  .policy-checkbox label {
    display: flex;
    align-items: center;
    margin: 4px;
    
    
  }

    .policy-checkbox p {
        margin: 0; /* Removes default margin of p element */
       
      }
  
  
  
  .policy-checkbox span {
    margin-left: 4px; /* Adjust spacing between "Remember" and "Me" */
  }
  
  .policy-checkbox a {
    color: #007BFF; /* Adjust link color if needed */
    text-decoration: none;
    margin-left: auto; /* Pushes the link to the far right */
  }
  

.Signup-form button {
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: #003E1F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Signup-footer {
    text-align: center;
    margin-top: 1rem;
}

.Signup-footer span {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #003E1F;
}

.Signup-footer p {
    color: #003E1F;
}

.Signup-footer a {
    color: #5BB17B;
    text-decoration: none;
}

.Signup-image {
    flex: 1;
    background-color: #003E1F;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.Signup-image h1 {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: rotate(-45deg);
}

.Signup-image img {
    width: 80%;
    border-radius: 50%;
}
